---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        <table>
          <tr>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/brawn.png" alt="Brawn"></th>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/athletics.png" alt="Athletics"></th>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/dexterity.png" alt="Dexterity"></th>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/wits.png" alt="Wits"></th>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/social.png" alt="Social"></th>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/know.png" alt="Knowledge"></th>
            <th><img class="entry-image u-photo" src="{{ site.url }}{{ site.baseurl }}/assets/images/guts.png" alt="Guts"></th>
          </tr>
          <tr>
            <th style='text-align:center'>{{ page.brawn }}</th>
            <th style='text-align:center'>{{ page.athletics }}</th>
            <th style='text-align:center'>{{ page.dexterity }}</th>
            <th style='text-align:center'>{{ page.wits }}</th>
            <th style='text-align:center'>{{ page.social }}</th>
            <th style='text-align:center'>{{ page.knowledge }}</th>
            <th style='text-align:center'>{{ page.guts }}</th>
          </tr>
        </table>
        <table>
          <tr>
            <th>Cape Identity</th>
            <th>{{ page.title }}</th>
          </tr>
          <tr>
            <th>Civilian Identity</th>
            <th>{{ page.civilian }}</th>
          </tr>
          <tr>
            <th>Classification</th>
            <th>{{ page.classification }}</th>
          </tr>
          <tr>
            <th>Alignment</th>
            <th>{{ page.alignment }}</th>
          </tr>
      </table>

        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
      </aside>
    </div>
  </div>
</main>
